<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--1.扫描service下的包-->
    <context:component-scan base-package="com.fanlan.Service"/>

    <!--2将我们的所有的业务类，注入Spring ,可以通过配置，或者注释-->
    <bean id="booksServiceImpl" class="com.fanlan.Service.booksServiceImpl">
        <property name="booksMapper" ref="booksMapper"/>
    </bean>

    <!--3.声明式事务配置-->
    <bean id="TransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--4.aop事务支持-->
    <!--结合aop实现事务的织入-->
    <!--配置事务通知-->
    <tx:advice id="txadvice" transaction-manager="TransactionManager">
        <!--配置事务的传播特性-->
        <tx:attributes>
            <tx:method name="x" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <!--配置事务的切入-->
    <aop:config>
        <!--com.fanlan.Dao包下的所有类的所有方法-->
        <aop:pointcut id="txPointCut" expression="execution(* com.fanlan.Dao.*.*(..))"/>
        <aop:advisor advice-ref="txadvice" pointcut-ref="txPointCut"/>
    </aop:config>
</beans>